/*
-------------------------------------------------------------------
Stylus
-------------------------------------------------------------------

Stylus is a CSS preprocessor. It is NodeJS-based. Add additional
styles to this file.
*/

@import "imports/aek-css-config";

:root {
  --main-color: #841617;
  --second-color: #999999;
  --button-color: #e1e1e1;
  --button-highlight: #c9c9c9;
  --button-border-highlight: #66AFE9;
}
.center {
  text-align: center;
}
div.ui.segment.seg {
  box-shadow: none;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
}
div.ui.visible.alt.message.center.selected {
  background-color: var(--button-highlight);
  color: black;
  border: 2px solid var(--button-border-highlight);
}
div.ui.visible.alt.message.center.notSelected {
  background-color: var(--button-color);
  color: black;
}
.tooltip {
  background: white;
  color: black;
  padding: .5em;
  border: 1px solid black;
}
li.right.labeled.item.listItem span {
  color: black;
}
i.checkmark.icon {
  color: green;
}
i.remove.icon {
  color: red;
}
li.right.labeled.item.listItem div span.label.ellipsis.no {
  color: black;
}
h2.ui.header.prime.banner.center {
  border-bottom: 4px solid var(--second-color);
  padding-top: .5em;
  padding-bottom: .5em;
}
div.ui.visible.alt i.student.icon, div.ui.visible.alt div.content, div.ui.visible.alt.message.center {
  color: var(--main-color);
  opacity: 1;
}
