@import "imports/aek-css-config";

// additional styles below

// subheader overrides for planner view
h1.ui.header.custom-subtext .sub.header {
  font-size: 1.1428rem;
  opacity: 0.8;
}

.ui.three.buttons.fixed-width-button-group {
  margin-bottom: 1rem;
}

// fixes for Message display
@media (max-width: 370px) {
  .ui.icon.message > .content {
    display: table-cell;
  }

  .ui.icon.message > .icon:not(.close) {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }

  // default animation-duration is 2s, we want to speed it up a bit
  .ui.icon.message.message-fix > .icon.loading:not(.close) {
    opacity: 1;
    padding: 0;
    animation-duration: 1s;
  }
}

.ui.icon.message.message-fix.padded {
  border-radius: 0.2857rem;
}

.ui.icon.message.message-fix {
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}

// NavMenu replacement
.ui.labeled.icon.four, .ui.labeled.icon.three, .ui.labeled.icon.two {
  box-shadow: 1px 1px 0 0 #DDD inset;
}

.ui.labeled.icon.four div, .ui.labeled.icon.three div, .ui.labeled.icon.two div {
  display: inline-block;
  height: 63px;
  border-top: 2px solid #DEDEDE;
}

.ui.labeled.icon.four div {
  width: 25%;
}

.ui.labeled.icon.three div {
  width: 33.33%;
}

.ui.labeled.icon.two div {
  width: 50%;
}

.ui.labeled.icon.four div, .ui.labeled.icon.four div i.icon, .ui.labeled.icon.three div, .ui.labeled.icon.three div i.icon, .ui.labeled.icon.two div, .ui.labeled.icon.two div i.icon {
  color: #444;
  opacity: 0.7;
}

.ui.labeled.icon.four div i.icon, .ui.labeled.icon.three div i.icon, .ui.labeled.icon.two div i.icon {
  display: block;
  margin: 0.6rem auto 0.4rem auto;
}

.ui.labeled.icon.four div.active, .ui.labeled.icon.three div.active, .ui.labeled.icon.two div.active {
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 2px solid #444;
  opacity: 1;
}

.ui.labeled.icon.four div.active i.icon, .ui.labeled.icon.three div.active i.icon, .ui.labeled.icon.two div.active i.icon {
  opacity: 1;
}

.ui.labeled.icon.four.prime div.active, .ui.labeled.icon.three.prime div.active, .ui.labeled.icon.two.prime div.active {
  border-top: 2px solid primeColor;
  color: primeColor;
}

.ui.labeled.icon.four.prime div.active i.icon, .ui.labeled.icon.three.prime div.active i.icon, .ui.labeled.icon.two.prime div.active i.icon {
  color: primeColor;
}

// added-to-planner UX
.ui.vertical.resultsList .active.item, .ui.listview.resultsList .item.active, .ui.listview.resultsList a.item.active{
  color: rgba(0,128,0,0.3);
  background: rgba(0,128,0,0.15) !important;
  border-radius: 0em !important;
  box-shadow: 2px 0em 0em inset !important;
  a{
    color: rgba(0,0,0,0.8) !important;
  }
}

.ui.icon.input > i.icon{
  z-index: -1 !important;
}
