themes = {} // important that you declare themes variable here for global scope
@import aekCssPath;


// define baseSizes
fontSize = 14px

// define main colours - for most users this may be sufficient
primeColor = #404f56
altColor = #6f8ea4
shColor = #1E8765
textColor = rgba(0, 0, 0, 0.8)
linkColor = saturate(lighten(altColor,30%),100%)
lineHeight = 1.5

// set themes for primary and secondary
aek-css-theme('prime',primeColor)
aek-css-theme('alt',altColor)
aek-css-theme('shbtn',shColor)



// define default vars object to send to all modules
defaults = {
  headerFont:inherit,
  pageFont:inherit,
  emSize:fontSize,
  fontSize:fontSize,
  textColor:textColor,

  headerFontWeight:bold,
  headerLineHeight:1.33em,
  h1:2rem,
  h2:1.714rem,
  h3:1.28rem,
  h4:1.071rem,
  h5:1rem,

  lineHeight:lineHeight,
  paragraphMargin: s('1em 0em 1em'),
  paragraphLineHeight:lineHeight,

  linkColor:linkColor,
  linkUnderline:none,
  linkHoverColor:lighten(linkColor, 5)
}



// install modules that you want
// you can define additional variables to override vars for specific modules by adding a hash as a third argument
// e.g. aek-css-module(moduleName,vars,{fontSize:16px,textColor:#999})
aek-css-module('reset',defaults)
aek-css-module('site',{},defaults)
aek-css-module('button',defaults)
aek-css-module('divider',defaults)
aek-css-module('form',defaults)
aek-css-module('grid',defaults)
aek-css-module('header',defaults)
aek-css-module('icon',defaults)
aek-css-module('input',defaults)
aek-css-module('label',defaults)
aek-css-module('menu',defaults)
aek-css-module('message',defaults)
aek-css-module('segment',defaults)
aek-css-module('table',defaults)
aek-css-module('checkbox',defaults)
