#
#-------------------------------------------------------------------
# .gitignore
#-------------------------------------------------------------------
#
# If you create a file in your repository named .gitignore,
# Git uses it to determine which files and directories to
# ignore, before you make a commit.
#

.DS_Store
