/*
-------------------------------------------------------------------
Stylus
-------------------------------------------------------------------

Stylus is a CSS preprocessor. It is NodeJS-based. Add additional
styles to this file.
*/

@import "imports/aek-css-config";

:root {
  --main-color: #333333;
  --alt-color: #c6c6c6;
  --tertiary-color: #d94623;
}

table.ui.table.unstackable {
  margin-bottom: 0;
}

a.ui.button {
  background-color: var(--alt-color);
  color: var(--main-color);
}

button.ui.button.fluid.alt, button.ui.button.alt, button.ui.button.alt:hover, h4.ui.header div.content {
  color: var(--main-color);
}

button.ui.button.alt {
  float: right;
}

.pageContent {
  float: left;
}

i.chevron.up.icon, i.chevron.down.icon, i.edit.icon, i.save.icon, i.history.icon.button {
  float: right;
  text-align: center;
  color: var(--tertiary-color);
  padding-bottom: 1.1em;
  border-radius: 0.2857rem;
}

div.center {
  text-align: center;
  display: flex;
  justify-content: center;
}

button.ui.button.save.alt {
  float: none;
  margin-top: 1em;
  width: 50%;
}

td.userInput {
  box-shadow: 0 0 5px var(--tertiary-color);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid var(--tertiary-color);
}

div.attendeeHeader {
  color: var(--main-color);
  margin-top: 1.5em;
}

div.panel.cbox.footer {
  background-color: red;
  margin: 0em;
  padding: 0em;
  background: #ffffff;
  border-top: 1px solid rgba(0,0,0,0.2);
  text-align: center;
}

div.ui.grid.footer, div.two.column.row.footer {
  margin: 0em;
  padding: 0em;
}

div.formField {
  display: block;
  margin: 0em 0em 0.2857rem 0em;
  color: rgba(0,0,0,0.8);
  font-size: 0.9285em;
  font-weight: bold;
  text-transform: none;
}

button.ui.button.darkButton {
  border-left: .5px solid #ffffff;
}
